StackLayout {
	background-color: white;
  	margin: 2;
} 
.thumbnail{
	height: 70%;
 }
.title{
	height: 20%;
	font-size: 11;
 }
.date {
	height: 5%;
	font-size:8;
}
.thumbnailLink{
	height: 5%;
	font-size:8;
}

