.dashboard-item {
	background-color: white;
	height: 200; 
 } 
.thumbnail{
	height: 80%;
 }
.title{
	height: 20%;
	font-size: 11;
	margin: 0;
	padding: 0;
 }
/*.date {
	height: 5%;
	font-size:8;
}
.thumbnailLink{
	height: 5%;
	font-size:8;
}

*/