.footer-content {
	background-color: #F5EDE1;
}
.footer-block{
    width:20%;
    text-align: center;
}

.footer-title{
    font-size: 10;
}

.footer-title-selected{
    font-size: 10;
    font-weight: 700;
    color: green;
}
